<nav class="navbar col-12" >
        <ol>
          <li><a routerLinkActive="active" routerLink="/inicio">Inicio</a>|</li>
          <li><a routerLinkActive="active" routerLink="/conocenos">Conócenos</a>|</li>
          <li><a routerLinkActive="active" routerLink="/actividades">Actividades</a>|</li>
          <li><a routerLinkActive="active" routerLink="/videos">Videos</a>|</li>
          <li><a routerLinkActive="active" routerLink="/archivo_fotográfico">Archivo Fotográfico</a></li>
        </ol>
      </nav>

<div class="actividades col-12">
    <img src="./assets/banner_actividades.png" alt="">
</div>

        <nav id="menu"> 
                <ul class="parent-menu"> 
                    <li><a href="#">Roles y estereotipos</a> 
                <ul> 
                    <li><a href="#">Roles de género</a></li> 
                    <li><a href="#">Amor es...</a></li> 
                    <li><a href="#">A toda madre</a></li> 
                    <li><a href="#">Ser hombre o mujer en CGFIE</a></li> 
                </ul> 
            </li> 
            <li><a href="#">Violencia de género</a> 
                <ul> 
                <li><a href="#">Día internacional de la eliminación de la violencia contra las mujeres</a></li> 
                <li><a href="#">Día internacional de la mujer</a></li> 
                <li><a href="#">Se trata de nosotras y nosotros</a></li> 
                <li><a href="#">Píntate de naranja</a></li> 
                <li><a href="#">Te doy mis ojos</a></li> 
                <li><a href="#">Bordamos feminicidios</a></li> 
                <li><a href="#">La trata en redes sociales</a></li> 
                <li><a href="#">Mujeres y violencia</a></li> 
            </ul>
            </li> 
            <li><a href="#">Diversidad Sexual</a> <ul> 
                <li><a href="#">Viva la diversidad</a></li> 
                <li><a href="#">Rompiendo estereotipos</a></li> 
                <li><a href="#">Sexo, género e identidad de género</a></li> 
            </ul>
            </li> 
            <li><a href="#">Lenguaje no sexista</a> 
                <ul> 
                    <li><a href="#">Perspectiva de género y lenguaje no sexista</a></li> 
                    <li><a href="#">¿Qué dice lo que digo?</a></li> 
                    <li><a href="#">Androcentrismo</a></li> 
                    <li><a href="#">Patriarcado</a></li> 
                    <li><a href="#">Estereotipos</a></li> 
                </ul> 
            </li> 
            <li><a href="#">Igualdad</a> 
                <ul> 
                    <li><a href="#">Sororidad</a></li> 
                    <li><a href="#">Mobbing y género</a></li> 
                </ul> 
            </li> 
            <li><a href="#">Salud sexual</a> 
                    <ul> 
                        <li><a href="#">En la lucha contra el cáncer</a></li> 
                        <li><a href="#">Avances en la eliminación del virus del papiloma humano</a></li> 
            
                    </ul> 
                </li> 
            
                <li><a href="#">Masculinidades</a> 
                    <ul> 
                        <li><a href="#">La masculinidad es una identidad imaginaria</a></li> 
                    </ul> 
                </li> 
                <li><a href="#">Mujeres en la ciencia</a> 
                    <ul> 
                        <li><a href="#">Tabla científica</a></li> 
                    </ul> 
                </li> 
            </ul> 
            </nav>


