.navbar {
    display: fixed;
    color: white;
    padding: .5rem;
  }
  
  .navbar ol {
    width: 100vw;
    height: 7vh;
    background: #CF3B66;
    padding: 1rem;
    text-align: center;
  }
  
  .navbar ol li {
    list-style: none;
    display: inline;
  }
  
  .navbar ol li a {
    text-decoration: none;
    letter-spacing: .1rem;
    color: white;
    margin-bottom: 5rem;
    font-weight: bold;
  }

  .mision, .vision{
      border: 2px solid #CF3B66;
      height: 35vh;
      width: 45vw;
      margin: 4rem;
      text-align: justify;
  }

  .mision h2{
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: #CF3B66;
}

.mision p{
    padding: 0;
}

.vision h2{
    margin: 0;
    padding: 1.5rem;
    text-align: center;
    color: #CF3B66;
}

.somos{
    border: 2px solid #CF3B66;
    height: 35vh;
    width: 96vw;
    margin: 4rem;
    text-align: justify;
    padding: 1rem;
}

.somos h2{
    margin: 0;
    padding: 1.5rem;
    text-align: center;
    color: #CF3B66;
}

.correo{
    color: blue;
}