.navbar {
  display: fixed;
  color: white;
  padding: .5rem;
}

.navbar ol {
  width: 100vw;
  height: 10vh;
  background: #CF3B66;
  padding: 3rem;
  text-align: center;
}

.navbar ol li {
  list-style: none;
  display: inline;
}

.navbar ol li a {
  text-decoration: none;
  letter-spacing: .1rem;
  color: white;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.2rem;
}

  .mision, .vision{
      border: 2px solid #CF3B66;
      height: 25vh;
      width: 45.5vw;
      margin: 4rem;
      text-align: justify;
      font-size: 2rem;
  }

  .mision h2{
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: #CF3B66;
}

.mision p{
    padding: 0;
}

.vision h2{
    margin: 0;
    padding: 1.5rem;
    text-align: center;
    color: #CF3B66;
}

.somos{
    border: 2px solid #CF3B66;
    height: 28vh;
    width: 96vw;
    margin: 4rem;
    text-align: justify;
    padding: 1rem;
    font-size: 2rem;
}

.somos h2{
    margin: 0;
    padding: 1.5rem;
    text-align: center;
    color: #CF3B66;
}

.correo{
    color: blue;
}