<link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
<script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

<nav class="navbar">
        <ol>
          <li><a routerLinkActive="active" routerLink="/inicio">Inicio</a>|</li>
          <li><a routerLinkActive="active" routerLink="/conocenos">Conócenos</a>|</li>
          <li><a routerLinkActive="active" routerLink="/actividades">Actividades</a>|</li>
          <li><a routerLinkActive="active" routerLink="/videos">Videos</a>|</li>
          <li><a routerLinkActive="active" routerLink="/archivo_fotográfico">Archivo Fotográfico</a></li>
        </ol>
      </nav>

<div class="row">
    <img class="img-conocenos col-sm-12" src="../assets/banner_conocenos.png" alt="">
</div>
<div class="row">
<div class="col-sm-6 mision">
    <h2>Misión</h2>
    <p>Promover en los centros y unidades del Instituto Politécnico Nacional una cultura de igualdad, no violencia y no discriminación que motive la formación integral de estudiantes y trabajadores/as, lo anterior bajo la estrategia de transversalidad de la perspectiva de género en los procesos educativos y de gestión.</p>
</div>
<div class="col-sm-6 vision">
        <h2>Visión</h2>
        <p>Reconocer al Instituto Politécnico Nacional como una institución pública educativa de nivel superior no solamente a la vanguardia en la investigación, ciencia y tecnología, sino también en sus avances humanísticos y culturales en materia de género.</p>
</div>

<div class="col-sm-12 somos">
<h2>¿Quiénes somos?</h2>
<p>La Red de Género está integrada por personal de la CGFIE que, con la orientación de la Unidad Politécnica de Gestión con Perspectiva de Género (UPGPG), lleva a cabo diversas actividades con la finalidad de contribuir en la integración del enfoque de género en el quehacer institucional. Quienes la integramos no somos expertos, somos personas dispuestas a aprender que buscamos propiciar una cultura de igualdad y buen trato en nuestro espacio laboral a través de actividades de sensibilización, capacitación, difusión y promoción de temas relacionados con el concepto de género.​​ 
Te invitamos a ser parte de la Red de Género de la CGFIE, ponte en contacto con nosotros a través de <u class="correo">redgenero.cgfie@ipn.mx</u>. 
</p>
</div>
</div>