<link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
<script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>

<nav class="navbar">
        <ol>
          <li><a routerLinkActive="active" routerLink="/inicio">Inicio</a>|</li>
          <li><a routerLinkActive="active" routerLink="/conocenos">Conócenos</a>|</li>
          <li><a routerLinkActive="active" routerLink="/actividades">Actividades</a>|</li>
          <li><a routerLinkActive="active" routerLink="/videos">Videos</a>|</li>
          <li><a routerLinkActive="active" routerLink="/archivo_fotográfico">Archivo Fotográfico</a></li>
        </ol>
      </nav>

<div class="row">
    <img class="img-conocenos col-sm-12" src="../assets/banner_conocenos.png" alt="">
</div>
<div class="row">
<div class="col-sm-6 mision">
    <h1>Misión</h1>
    <p>Promover en los centros y unidades del Instituto Politécnico Nacional una cultura de igualdad, no violencia y no discriminación que motive la formación integral de estudiantes y trabajadores/as, lo anterior bajo la estrategia de transversalidad de la perspectiva de género en los procesos educativos y de gestión.</p>
</div>
<div class="col-sm-6 vision">
        <h1>Visión</h1>
        <p>Reconocer al Instituto Politécnico Nacional como una institución pública educativa de nivel superior no solamente a la vanguardia en la investigación, ciencia y tecnología, sino también en sus avances humanísticos y culturales en materia de género.</p>
</div>
</div>